extends layout

block content
  div#statsbar
    div.information Connections in the last 1 minute:
      div.connectionnumber -
      div#animationbuttons
        button(class="btn btn-primary btn-xs", onclick="startAnimation()") Start Animation
        button(class="btn btn-primary btn-xs", onclick="stopAnimation()") Stop Animation
  div#randomconnectionbar
    div.information Randomly chosen connection
      p.randomtext From
      div#randomdata.sourcecity -
      div#randomdata.sourcecountry -
      p.randomtext To
      div#randomdata.destinationcity -
      div#randomdata.destinationcountry -
  div#map
  script(type='text/javascript', src='/javascripts/bundle.js')
  script(type='text/javascript', src='/javascripts/viewer.js')
